@page "/buildings/{BuildingId}"

@using Life.Application
@using Life.Application.Data

@inject IBuildingQueryService BuildingQueryService

@if (_building is not null)
{
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">ホーム</a></li>
			<li class="breadcrumb-item"><a href="/buildings">建造物</a></li>
			<li class="breadcrumb-item active" aria-current="page">@_building.BuildingName</li>
		</ol>
	</nav>

	<h1>@_building.BuildingName</h1>

	<h2>建造物</h2>
	<table class="table">
		<tbody>
			<tr>
				<th>建造物ID</th>
				<td>@_building.BuildingId</td>
			</tr>
			<tr>
				<th>建造物名</th>
				<td>@_building.BuildingName</td>
			</tr>
		</tbody>
	</table>
}

@code {
	#region Fields

	/// <summary>
	/// 建造物
	/// </summary>
	private BuildingData? _building;

	#endregion

	#region Properties

	/// <summary>
	/// 建造物IDを設定または取得します。
	/// </summary>
	[Parameter]
	public string BuildingId { get; set; } = string.Empty;

	#endregion

	#region Methods

	/// <summary>
	/// 初期化された際に呼び出されます。
	/// </summary>
	/// <returns>非同期操作を返します。</returns>
	protected override async Task OnInitializedAsync()
	{
		_building = await BuildingQueryService.QuerySingleAsync(BuildingId);
	}

	#endregion
}
