@page "/recipes"

@using Life.Application
@using Life.Application.Data

@inject IRecipeSummaryQueryService RecipeSummaryQueryService

<h1>レシピ</h1>

@if (_recipes is not null)
{
	<table class="table">
		<thead>
			<tr>
				<th>レシピID</th>
				<th>アイテム名</th>
			</tr>
		</thead>
		<tbody>
			@foreach (RecipeSummaryData recipe in _recipes)
			{
				<tr>
					<td class="id">@recipe.RecipeId</td>
					<td><a href="/recipes/@recipe.RecipeId">@recipe.ItemName</a></td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	#region Fields

	/// <summary>
	/// レシピのコレクション
	/// </summary>
	private IEnumerable<RecipeSummaryData>? _recipes;

	#endregion

	#region Methods

	/// <summary>
	/// 初期化された際に呼び出されます。
	/// </summary>
	/// <returns>非同期操作を返します。</returns>
	protected override async Task OnInitializedAsync()
	{
		_recipes = await RecipeSummaryQueryService.QueryAsync();
	}

	#endregion
}
