<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LifeApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ホーム
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> エリア
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buildings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 建造物
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="families">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 家族
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="humans">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 人間
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> アイテム
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="item-recipes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> レシピ(アイテム)
            </NavLink>
        </div>
    </nav>
</div>
